.generation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.generation-header {
  font-size: 2em;
  margin-bottom: 20px;
}

.generation-text {
  max-width: 600px;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: center;
}

.generation-form {
  width: 100%;
  margin-bottom: 20px;
}

.generation-input {
  height: 150px;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ffa500;
  background-color: #333;
  color: #ffffff;
  white-space: pre-line;
}

.generation-input::-webkit-scrollbar-track {
  background: #2e2e2e;
}

.generation-input::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  border-radius: 10px;
  border: 3px solid #2e2e2e;
}

.generation-input::-webkit-scrollbar {
  width: 8px;
}

.generation-input::-webkit-scrollbar-corner {
    background-color: #2e2e2e ;
}

.generation-button {
  min-width: 140px;
  background-color: #ffa500;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.generation-button:hover {
  background-color: #cc8400;
}

.generation-button:disabled {
  min-width: 140px;
  background-color: #666;
  color: #ccc;
  cursor: not-allowed;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
}

.generation-button:disabled:hover {
  background-color: #666;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.2);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #ffa500;
  animation: spin 1s ease infinite;
  margin-top: 70px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.generation-result {
  background-color: #262626;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  width: 50%;
  white-space: pre-line;
}

.generation-result h3 {
  text-align: center;
}
